/* Needs sorting! */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800;900&family=Outfit:wght@100;200;300;400;700;900&display=swap');

:root {
  --main-text: white;
  --main-button: rgb(187, 76, 238);
  --main-outline: rgb(255, 255, 255);
  --main-transparent: rgba(194, 74, 235, 0.34);
  --main-1: black;
  --main-2: white;
  --main-3: grey;
  --main-4: yellow;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Montserrat', 'Outfit', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: greyscale;
}

h1,
h4,
p,
a {
  color: var(--main-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div {
  border: 1px solid var(--main-4);
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--main-button);
  color: var(--main-text);
  border: 1px solid var(--main-4);
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.btn-light {
  background: var(--main-2);
  color: var(--main-1);
  border: 1px solid var(--main-1);
}

.btn:hover {
  background: rgb(126, 126, 126);
  color: white;
  transition: 0.3s;
}
